*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* UTILITIES */
.container{
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;


    
}
.container-header{
    width: 100%;
    margin: 0 auto;


    
}
.row-header{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}
.row{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   

}
.col-left{
    width: 150px;
    margin-left: 10px;
    

}
.col-right{
    padding: 10px 0;
    margin-right: 10px;
    color: white;

}
.col-double{
    width: 90%;
    background-color: #B5DDFF;
    margin: 10px;
    border-radius: 20px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.col-33{
    /* width: calc(100%/3 - 20px); */
    width: 90%;
    background-color: #B5DDFF;
    margin: 10px;
    border-radius: 20px;
    padding: 30px 0;

}
.content-col-33{
    text-align: center;

}

.content{
    padding: 20px;
    position: relative;
    


}
.col-20{
    width: 90%;
    background-color: white;
    margin: 10px;
    border-radius: 20px;


}
.content-col-20{
    padding: 20px;
    color: #9792E4;

}

.col-50{
    /* width: calc(100%/3 - 20px); */
    width: 90%;
    background-color: white;
    margin: 10px;
    border-radius: 20px;




}
.col-100{
    width: 90%;
    background-color:  #9792E4;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.content-col-100{
    text-align: center;
}

.col-60{
    width: 90%;
}

.col-30{
    width: 90%;
}
.col-40{
    width: 90%;

}
.col-footer{
    width: 90%;
}



/* UTILITIES */

/* HEADER */
header{
    background-color: rgb(35, 132, 223);
}
#logo-img{
    padding-top: 5px;

}
.col-right span{
    margin-right: 10px;

}
#button-header{
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 20px;
    border: none;

}

/* FINE HEADER */

/* MAIN */
.content-col-double{
    flex-wrap: wrap;

}
#button-apple{
    background-color: blue;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    margin: 20px 0 0 0;
}
#phone-img{
    width: 200px;
    position: relative;
    top: 35px;
    right: 100px;

    
}
.col-33 i{
    font-size: 70px;
    color: blue;
    padding: 30px 0;


}
.content-col-double h3{
    color: blue;
    padding: 20px 0;
    
}
.content-col-double p{
    padding-bottom: 5px;
    
}

.content-col-33 h3{
    color: blue;
    padding: 20px;
    
}
.content-col-33 p{
    padding-bottom: 5px;
    
}
.violet{
    background-color: #9792E4;
}
.planning1-img{
    width: 100%;
}
.testimonial-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    
   
}
.content-testimonial{
   text-align: center;
   color: white;
   padding: 20px 0;
   
}
.content-testimonial p{  
    padding-bottom: 20px;
    
 }
.col-100-title h2{
    color: #9792E4;
    padding: 20px 0;
    font-size: 30px;

}
.col-100-title{    
    margin-bottom: 40px;

}
 .button-col-20{
    background-color: #9792E4;
    color: white;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
 }
 .content-col-20 h2{
    padding: 10px 0;

}
.about-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;

}
.content-col-60 h1{
    padding-bottom: 20px;
    color: #9792E4;

}
.content-col-30 h2{
    padding-bottom: 20px;
    color: #9792E4;

}
#button-linkedin{
    background-color: #9792E4;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;

}
.content-col-40{
    text-align: center;
    color: white;
}
.content-col-40 h1{
    color: #FDC15F;
    padding: 15px 0;
}
.content-col-40 h2{
    padding-top: 15px;
}
#button-col-40{
    background-color: white;
    color: #9792E4;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    margin: 20px 0;

}
.content-subtitle{
    color: white;
    text-align: center;
    font-size: 12px;
}



/* FINE MAIN */

/* FOOTER */
footer{
    background-color: rgb(49, 47, 47);
}
.content-col-footer{
    color: white;
    text-align: center;
    font-size: 12px;
    padding-bottom: 80px;
    
}
.second-content-col-footer{
    color: white;
    text-align: center;
    font-size: 12px;
    
}


/* FINE FOOTER */


/* MEDIA QUERY */

/* MEDIA QUERY FIRST TABLET */

@media screen and (min-width: 768px){
    .container{
        width: 100%;
    }
    .row{
        max-width: 980px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    .col-double{
        width: calc(100%/3 * 2 - 20px);
        margin: 10px;
        align-items: flex-start;
    }
    .content-col-double{
        padding-left: 30px;
    }
    .col-33{
        width: calc(100%/3 - 20px);
        margin: 10px;

    }
    .col-33{
        padding-bottom: 50px;
        

    }
    .content-col-33 p{
        padding-bottom: 10px;

    }
    .content-col-33 h3{
        padding: 30px 0;


    }
    .padding{
        padding-bottom: 210px;

    }
    .col-20{
        width: calc(100%/2 - 20px);
        margin: 10px;
    }
    .col-60{
        width: calc(100%/2 - 20px);
    }
    .col-30{
        width: calc(100%/2 - 20px);

        
        
    }
    .col-100{
        display: flex;
        flex-direction: row;
    }
    .content-testimonial{
        text-align: initial;
        padding-left: 10px;
    }
    #phone-img{
        width: 200px;
        position: relative;
        margin-right: 20px;
        left: 20px;
        padding-top: 40px;
    
        
    }
         
}

/* MEDIA QUERY DESKTOP */
@media screen and (min-width: 991px){
    .container{
        width: 100%;
    }
    .row-header{
        margin: 0 180px;

    }
    .row{
        max-width: 1180px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 180px;
    }
    .col-double{
        width: calc(100%/3 * 2 - 20px);
        flex-direction: row;
        padding-bottom: 30px;
        font-size: 10px;

    }
    .content-col-double h3{
        padding-top: 0;
    }
    .content-col-double p{
        padding-bottom: 10px;
    }
    .col-33{
        width: calc(100%/3 - 20px);
        margin: 10px;
        font-size: 10px;


    }
    .col-33{
        padding-bottom: 50px;
        

    }
    
    .col-20{
        width: calc(100%/3 - 30px);
        margin: 15px;
    }
    .col-60{
        width: calc(100%/2 - 20px);
        width: 60%;
        padding-bottom: 50px;
        padding-left: 20px;
    }
    .col-30{
        width: calc(100%/2 - 20px);
        width: 30%;
        margin-bottom: 50px;
        margin-left: 20px;
        
        
    }
    
    .col-50{
        width: calc(100%/2 - 20px);
        
        
    }
    #phone-img{
        width: 200px;
        position: relative;
        margin-right: 20px;
        left: 20px;
        bottom: 15px;
        padding-top: 80px;
    
        
    }
         
}

